
.logo {
	width: 272px;
	padding-top: 105px;
	margin: 0 auto;
}

.search {
	width: 520px;
	height: 40px;
	border-radius: 2px;
	box-shadow: 0px 6px 12px -5px #949494;
	border: 1px solid rgba(234, 234, 234, 0.52);
     
  }

.gmic {
    position: relative;
    margin: 0;
    right: 40px;
    top: 10px;
    height: 30px;
}

button {
	background: #eaeaea;
	color: #717171;
	width: auto;
	height: 25px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-weight: bold;
}


.b1 {
	position: relative;
	top: 30px;
	right: 2px;
}

.b2 {
	position: relative;
	top:  30px;
	left: 2px;
}